In [9]:
import pandas as pd
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
import matplotlib.pyplot as plt
#import plotly
#import plotly.graph_objs as go
#import plotly.offline as py
#plotly.offline.init_notebook_mode()
import datetime

In [65]:
dataset = pd.read_excel('BIDI4F.xls')

In [66]:
dataset

,Data,Abertura,Maxima,Minima,Fechamento,Movel9,Movel21,Movel200
0,2019-03-06,6.61,6.61,6.43,6.60,6.52,6.58,4.90
1,2019-03-07,6.57,6.70,6.57,6.67,6.55,6.59,4.92
2,2019-03-08,6.68,6.87,6.65,6.85,6.61,6.61,4.94
3,2019-03-11,6.84,7.09,6.78,7.09,6.71,6.66,4.96
4,2019-03-12,7.09,7.24,6.97,7.22,6.81,6.71,4.98
...,...,...,...,...,...,...,...,...
346,2020-07-24,17.94,18.46,16.16,18.39,17.49,16.27,13.22
347,2020-07-27,18.42,19.15,18.42,18.90,17.77,16.51,13.27
348,2020-07-28,18.91,19.10,18.58,18.97,18.01,16.73,13.33
349,2020-07-29,19.60,20.45,19.31,20.30,18.47,17.05,13.40
350,2020-07-30,20.00,20.66,19.60,20.31,18.84,17.35,13.47

In [67]:
dataset['Data'] = pd.to_datetime(dataset['Data'])

In [68]:
dataset['variacao'] = dataset['Fechamento'].sub(dataset['Abertura'])

In [69]:
dataset.head()

,Data,Abertura,Maxima,Minima,Fechamento,Movel9,Movel21,Movel200,variacao
0,2019-03-06,6.61,6.61,6.43,6.60,6.52,6.58,4.90,-0.01
1,2019-03-07,6.57,6.70,6.57,6.67,6.55,6.59,4.92,0.10
2,2019-03-08,6.68,6.87,6.65,6.85,6.61,6.61,4.94,0.17
3,2019-03-11,6.84,7.09,6.78,7.09,6.71,6.66,4.96,0.25
4,2019-03-12,7.09,7.24,6.97,7.22,6.81,6.71,4.98,0.13

In [70]:
dataset.describe()

,Abertura,Maxima,Minima,Fechamento,Movel9,Movel21,Movel200,variacao
count,351.000000,351.000000,351.000000,351.000000,351.000000,351.000000,351.000000,351.000000
mean,13.629487,13.959801,13.227123,13.611225,13.470712,13.304330,11.177436,-0.018262
std,3.865684,3.919540,3.756380,3.830464,3.737666,3.620842,3.179450,0.522723
min,6.570000,6.610000,5.770000,6.600000,6.520000,6.580000,4.900000,-3.380000
25%,9.985000,10.240000,9.735000,9.980000,10.020000,10.120000,7.950000,-0.250000
50%,13.920000,14.460000,13.520000,13.810000,13.600000,13.160000,12.580000,-0.040000
75%,16.855000,17.045000,16.410000,16.835000,16.770000,16.655000,13.625000,0.200000
max,24.350000,24.350000,22.240000,23.020000,20.200000,19.400000,14.810000,2.580000

In [71]:
import matplotlib.dates as mdates
import datetime as dt

In [144]:
treino = dataset

In [145]:
x = treino.Abertura
y = treino.Fechamento

In [146]:
y.head()

0    6.60
1    6.67
2    6.85
3    7.09
4    7.22
Name: Fechamento, dtype: float64

In [157]:
features = ['Abertura','Maxima','Minima']
treino = treino[features]

In [158]:
treino.head()

   Abertura  Maxima  Minima
0      6.61    6.61    6.43
1      6.57    6.70    6.57
2      6.68    6.87    6.65
3      6.84    7.09    6.78
4      7.09    7.24    6.97

In [159]:
y = dataset['Fechamento']

In [175]:
X_treino, X_teste, y_treino, y_teste = train_test_split(
treino, y, test_size=0.33,shuffle=None, random_state=42)

In [176]:
X_treino.head()

     Abertura  Maxima  Minima
333     15.47   15.76   15.13
328     14.96   15.44   14.01
265     10.90   11.15   10.55
163     16.46   16.65   16.36
59      11.57   11.77   11.44

In [177]:
lr_model = LinearRegression()

In [178]:
lr_model.fit(X_treino,y_treino)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [179]:
lr_model.coef_

array([-0.47320042,  0.86734758,  0.6017231 ])

In [180]:
lr_model.predict(X_teste)[:10]

array([16.91927211, 17.27696993, 11.63173092, 16.14756358, 17.76165298,
        9.9211271 , 11.65490603, 16.02108072,  9.29542155, 14.39241066])

In [185]:
y_teste[:1]

157    16.93
Name: Fechamento, dtype: float64

In [182]:
RMSE = mean_squared_error(y_teste, lr_model.predict(X_teste))**0.5
RMSE

0.2621276268965406

In [183]:
lr_model.score(X_treino, y_treino)

0.9961076368339088

In [184]:
lr_model.score(X_teste, y_teste)

0.9953294726616323

In [190]:
dsTeste = pd.read_excel('teste.xls')

In [191]:
dsTeste

        Data  Abertura  Maxima  Minima  Fechamento  Movel9  Movel21  Movel200
0 2020-07-31      20.3   20.96   20.01       20.59   19.19    17.64     13.54

In [193]:
features1 = ['Abertura','Maxima','Minima']
test1 = test1[features1]

In [194]:
test1 = dsTeste[features1]

In [196]:
lr_model.predict(test1)

array([20.61274413])

In [198]:
#definir valor de fechamento ou max e min a partir de abertura e mÃ©dias mÃ³veis

In [200]:
#criar conjunto de dados com dados dos primeiros 5 minutos de abertura, e dados do fechamento, 
#com isso prever minÃ­mas e max do dia